#PDFViewer {
  position: initial;
}

#pdf_renderer {
  height: 100%;
  width: 70%;
  position: absolute;
}
.MainContainer {
  height: 100%;
  width: 445px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

#samplecanvas {
  display: flex;
  width: 95%;
  height: 20rem;
  background: url("resources/sample.PNG");
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-size: cover;
}

#description {
  width: 90%;
  height: 10rem;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #3146c2;
  padding: 30px;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .MainContainer {
    padding-top: 15px;
  }
  .MainContainer p {
    font-size: 18px;
  }
}
